.payment {
  margin-top: -30px;
  @include r($desktop) {
    margin-top: 0;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
    @include r($desktop) {
      grid-gap: 20px;
    }
    @include r($lg) {
      display: flex;
      flex-wrap: wrap;
      grid-gap: 20px;
      justify-content: center;
    }
    @media (max-width: 670px) {
      flex-direction: column;
      align-items: center;
    }
  }

  &__item {
    background-color: $black300;
    border-radius: 26px;
    padding: 32px 34px;
    text-align: center;
    @include r($desktop) {
      padding: 30px 25px;
    }
    @media (max-width: 1100px) {
      padding: 30px 20px;
    }
    @include r($lg) {
      max-width: 48%;
      border-radius: 20px;
    }
    @media (max-width: 670px) {
      max-width: 390px;
      border-radius: 16px;
    }
  }

  &__icon {
    margin: 0 auto 24px;
    @include flex-center;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: $accent;
    padding: 14px;
  }

  &__name {
    font-size: 26px;
    line-height: 0.95;
    font-weight: 600;
    letter-spacing: -0.39px;
    color: $white;
    margin-bottom: 12px;
    display: block;
    @include r($desktop) {
      font-size: 24px;
    }
    @include r($lg) {
      font-size: 22px;
    }
  }

  &__text {
    font-weight: 500;
    letter-spacing: -0.18px;
  }
}