$desktop: 1200;
$lg: 992;
$tablet: 768;
$sm: 610;
$phone: 468;

$sfpro: "SF Pro Display", sans-serif;
$inter: "Inter", sans-serif;

$white: #fff;
$black: #0D0D0D;
$black100: #222222;
$black300: #171717;
$black400: #212121;
$black500: #1E1E1E;
$gray: #A5A8AF;
$gray100: #575757;

$accent: #FF2626;
$red: #fe4d4d;
$red100: #FF4141;