.navigation {
  padding-top: 32px;
  margin-bottom: 110px;
  font-size: 18px;
  @include r($desktop) {
    margin-bottom: 90px;
  }
  @include r($lg) {
    margin-bottom: 70px;
    padding-top: 28px;
  }
  @include r($tablet) {
    padding-top: 23px;
    margin-bottom: 55px;
  }

  &--footer {
    mix-blend-mode: luminosity;
    margin: 125px 0 32px;
    padding-top: 0;
    @include r($desktop) {
      margin: 105px 0 20px;
    }
    @include r($lg) {
      margin-top: 85px;
    }
    @include r($sm) {
      margin-top: 75px;
    }
  }

  &__inner {
    display: flex;
    align-items: center;

    &--footer {
      @media (max-width: 860px) {
        flex-direction: column;
        align-items: flex-start;
        gap: 35px;
      }
    }
  }

  &__logo {
    margin-right: 64px;
    @media (max-width: 930px) {
      margin-right: 34px;
    }
  }

  &__list {
    display: flex;
    gap: 24px;
    @media (max-width: 860px) {
      display: none;
    }

    &--mobile {
      display: flex;
      flex-wrap: wrap;
      gap: 60px;
      @include r($sm) {
        gap: 25px 50px;
      }
    }

    &--footer {
      @media (max-width: 860px) {
        display: flex;
        gap: 55px;
      }
    }
  }

  &__link {
    transition: color .4s, opacity .4s;
    line-height: 1.55;
    color: $gray;
    position: relative;
    padding-bottom: 2px;

    &--active {
      pointer-events: none;
      user-select: none;
      color: $white;
    }

    &:hover {
      &::before {
        width: 100%;
      }
    }

    &::before {
      @include pseudo;
      bottom: 0;
      left: 0;
      width: 0;
      height: 1px;
      background-color: $white;
      transition: width .4s;
    }
  }

  &__actions {
    display: flex;
    gap: 16px;
    margin-left: auto;

    &--header {
      @media (max-width: 860px) {
        gap: 25px;
      }
    }

    &--footer {
      @media (max-width: 860px) {
        margin-left: 0;
      }
    }
  }

  &__languages {
    position: relative;

    &--header {
      @media (max-width: 860px) {
        display: none;
      }
    }

    &--mobile {
      display: flex;
      flex-direction: column;
      gap: 15px;
      align-self: center;
      @include r($phone) {
        align-self: flex-start;
      }
    }

    &--footer {
      .navigation__lang--hidden-footer {
        transform: translateY(-108px);
      }
    }
  }

  &__lang {
    @include flex-center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    padding: 8px 14px;
    background-color: $black300;
    color: $white;
    transition: all .4s;

    &:hover {
      background-color: #222222;
    }

    svg {
      margin-left: 8px;
    }

    &--active {
      background-color: #222222;
      user-select: none;
      pointer-events: none;
    }

    &--hidden {
      opacity: 0;
      user-select: none;
      pointer-events: none;
      transition: all .4s;
      height: auto;
      padding: 14px;
      position: absolute;
      transform: translateY(12px);

      &.active {
        opacity: 1;
        pointer-events: auto;
        user-select: auto;
      }
    }
  }

  &__decor {
    margin-right: 6px;
  }

  &__btn {
    &--header {
      @media (max-width: 530px) {
        display: none;
      }
    }

    &--mobile {
      @media (max-width: 530px) {
        font-size: 18px;
        display: flex;
      }
    }
  }

  &__mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    font-size: 20px;
    z-index: 120;
    padding: 100px 45px 0;
    transition: transform .6s ease-in-out;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(9, 10, 3, .6);
    backdrop-filter: blur(30px);
    transform: translateX(-100%);

    &--active {
      transform: translateX(0);
    }

    @media (max-width: 860px) {
      display: flex;
    }

    @include r($tablet) {
      padding: 100px 30px 0;
    }

    @include r($phone) {
      align-items: flex-start;
      padding: 100px 25px 0;
    }
  }

  &__socials {
    @include flex-column(20);
    width: 100%;
  }

  &__social {
    justify-content: center;
    font-size: 18px;
  }
}