.navigation {
  padding-top: 32px;
  margin-bottom: 110px;
  font-size: 18px;
  @include r($desktop) {
    margin-bottom: 90px;
  }
  @include r($lg) {
    margin-bottom: 70px;
    padding-top: 28px;
  }
  @include r($tablet) {
    margin-bottom: 60px;
  }

  &--footer {
    mix-blend-mode: luminosity;
    margin: 125px 0 32px;
    padding-top: 0;
    @include r($desktop) {
      margin: 105px 0 20px;
    }
    @include r($lg) {
      margin-top: 85px;
    }
    @include r($sm) {
      margin-top: 75px;
    }
  }

  &__inner {
    display: flex;
    align-items: center;

    &--footer {
      @media (max-width: 860px) {
        flex-direction: column;
        align-items: flex-start;
        gap: 35px;
      }
    }
  }

  &__logo {
    margin-right: 64px;
    @media (max-width: 870px) {
      margin-right: 34px;
    }
  }

  &__list {
    display: flex;
    gap: 24px;

    &--footer {
      @media (max-width: 860px) {
        gap: 55px;
      }
    }
  }

  &__link {
    transition: color .4s, opacity .4s;
    line-height: 1.55;
    color: $gray;
    position: relative;
    padding-bottom: 2px;

    &--active {
      pointer-events: none;
      user-select: none;
      color: $white;
    }

    &:hover {
      &::before {
        width: 100%;
      }
    }

    &::before {
      @include pseudo;
      bottom: 0;
      left: 0;
      width: 0;
      height: 1px;
      background-color: $white;
      transition: width .4s;
    }
  }

  &__actions {
    display: flex;
    gap: 16px;
    margin-left: auto;

    &--footer {
      @media (max-width: 860px) {
        margin-left: 0;
      }
    }
  }

  &__languages {
    position: relative;

    &--footer {
      .navigation__lang--hidden-footer {
        transform: translateY(-108px);
      }
    }
  }

  &__lang {
    @include flex-center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    padding: 8px 14px;
    background-color: $black300;
    color: $white;
    transition: all .4s;

    &:hover {
      background-color: #222222;
    }

    svg {
      margin-left: 8px;
    }

    &--hidden {
      opacity: 0;
      user-select: none;
      pointer-events: none;
      transition: all .4s;
      height: auto;
      padding: 14px;
      position: absolute;
      transform: translateY(12px);

      &.active {
        opacity: 1;
        pointer-events: auto;
        user-select: auto;
      }
    }
  }

  &__decor {
    margin-right: 6px;
  }
}