.start {
  margin-top: 110px;

  &__inner {
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: space-between;
  }

  &__content {
    max-width: 435px;
    width: 100%;
  }

  &__subtitle {
    display: inline-block;
    padding: 8px 16px;
    border-radius: 100px;
    background-color: rgba($red100, .10);
    color: $red100;
    margin-bottom: 28px;
    letter-spacing: 0.18px;
    font-weight: 600;
  }

  &__text {
    max-width: 345px;
    width: 100%;
    font-weight: 500;
    letter-spacing: -0.2px;
    font-size: 20px;
    margin-bottom: 38px;
  }

  &__service {
    border-radius: 12px;
    background-color: $black300;
    padding: 16px 12px 16px 16px;
    max-height: 465px;
    overflow: hidden;
    max-width: 550px;
    width: 100%;
  }

  &__list {
    @include flex-column(16);
    overflow-y: scroll;
    max-height: 465px;
    padding-right: 12px;
    padding-bottom: 16px;

    &::-webkit-scrollbar {
      box-sizing: content-box;
      width: 4px;
      border-radius: 100px;
    }

    &::-webkit-scrollbar-track {
      background-color: $black400;
    }

    &::-webkit-scrollbar-thumb {
      border-radius: 100px;
      background-color: $gray100;
    }
  }

  &__item {
    padding: 14px 16px;
    border-radius: 12px;
    background-color: $black400;

    &:last-child {
      margin-bottom: 16px;
    }
  }

  &__head {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
  }

  &__name {
    line-height: 1.3;
    letter-spacing: -0.27px;
    font-weight: 600;
    color: $white;
  }

  &__price {
    letter-spacing: -0.27px;
    font-weight: 500;
    font-style: italic;
  }

  &__info {
    border-radius: 26px;
    background-color: $black300;
    max-width: 550px;
    width: 100%;
    display: flex;
    align-self: stretch;
    padding: 30px 60px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    &-avatar {
      @include objectCoverBg;
      margin-bottom: 24px;
    }

    &-name {
      margin-bottom: 8px;
      font-size: 24px;
      color: $white;
      line-height: 1.4;
      font-weight: 700;
      font-family: $inter;
      letter-spacing: -0.24px;
    }

    &-text {
      max-width: 290px;
      letter-spacing: -0.18px;
    }
  }
}