<footer class="navigation navigation--footer">
    <div class="container">
        <div class="navigation__inner navigation__inner--footer">
            <a class="navigation__logo navigation__logo--footer logo" href="index.html">
                <img src="images/icons/logo.svg" width="97" height="25" alt="логотип">
            </a>
            <nav>
                <ul class="navigation__list navigation__list--footer">
                    <li>
                        <a class="navigation__link navigation__link--active" href="index.html">Главная</a>
                    </li>
                    <li>
                        <a class="navigation__link" href="departure.html">Выезд</a>
                    </li>
                    <li>
                        <a class="navigation__link" href="payment.html">Оплата</a>
                    </li>
                </ul>
            </nav>
            <div class="navigation__actions navigation__actions--footer">
                <div class="navigation__languages navigation__languages--footer">
                    <button class="navigation__lang" id="buttonLangFooter" type="button">
                        <img class="navigation__decor" src="images/icons/ru.png" alt="русский язык">
                        Rus
                        <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.16672 8L9.34926 12.4422C9.72375 12.7632 10.2764 12.7632 10.6508 12.4422L15.8334 8"
                                  stroke="white" stroke-opacity="0.6" stroke-width="2" stroke-linecap="round"/>
                        </svg>
                    </button>
                    <a class="navigation__lang navigation__lang--hidden navigation__lang--hidden-footer" href="index_uk.html">
                        <img class="navigation__decor" src="images/icons/uk.png" alt="укр. мова">
                        Ukr
                    </a>
                </div>
                <button class="navigation__btn btn" data-toggle="modal" data-target="modalContact">Связаться с нами
                </button>
            </div>
        </div>
    </div>
</footer>